import(R6)
import(Rcpp)
import(foreach)
import(doParallel)
importFrom(kernelshap, kernelshap)
importFrom(shapviz, shapviz)
importFrom(utils, txtProgressBar)
export(Model)
export(cross_val_score)
export(formula_to_matrix)
export(matrix_to_formula)
export(train_test_split)
export(benchmark)
export(compute_shap_values)
export(analyze_shap)
export(compare_shap_importance)