import(R6)
import(Rcpp)
import(foreach)
import(doParallel)
importFrom(utils, txtProgressBar)
export(Model)
export(cross_val_score)
export(boost_regression)
export(predict_boost)
export(variable_importance_boost)
export(variable_importance_boost_with_X)
export(compute_loss_history)
useDynLib('unifiedml', .registration = TRUE)
importFrom(Rcpp, evalCpp)
